@import '../../styles/vars';

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    li {
        margin: 0 1.5rem;
        a {
            font-family: $cursive-font;
            font-size: 1.5em;
            display: block;
            outline: none;
        }
    }
}

.link {
    color: $white;
    transition: transform 0.4s, color 0.4s;
    &:hover {
        transform: rotate(-5deg);
        color: $primary;
    }
}

.activeLink {
    transform: rotate(-5deg);
    color: $primary;
}
