.pizzaListTitle {
    margin-bottom: 2rem;
    font-size: 1.5em;
}

.pizzaList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
