@import '../../styles/vars';

.siteForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    fieldset {
        max-height: 600px;
        overflow: auto;
        padding: 1rem 1rem 1.8rem;
        border-color: rgba($white, 0.15);
        &:first-child,
        &:last-child {
            grid-column: span 2;
        }
        legend {
            padding: 0.5rem;
            font-size: 1em;
            color: $primary;
        }
    }
}

.formField {
    margin-bottom: 1rem;
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 0.75em;
    }
    input {
        display: block;
        width: 100%;
        height: 45px;
        padding: 0 1rem;
        background: rgba($white, 0.75);
        border: 0;
        border-radius: 10px;
        outline: none;
        transition: background 0.4s;
        &:hover,
        &:focus {
            background: $white;
        }
    }
}

.pizzaWidget {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.pizzaImage {
    flex-shrink: 0;
    width: 100px;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    overflow: hidden;
}

.pizzaTitle {
    margin: 0 0 1.5rem;
    font-family: $cursive-font;
    font-size: 1.45em;
    color: $primary;
}

.pizzaButton {
    margin-right: 0.5rem;
    &:last-child {
        margin-right: 0;
    }
}

.orderCheckout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-weight: 400;
    }
}
