@import '../../styles/vars';

.backLink {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white;
    transition: transform 0.4s;
    &:hover {
        transform: translateX(-5px);
    }
    svg {
        margin-right: 0.5rem;
        path {
            fill: $primary;
        }
    }
}
