body {
    font-family: $main-font;
    font-weight: $base-weight;
    font-size: $base-font;
    color: $white;
    background: $black;
}

h1 {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color 0.4s;
    &:hover {
        color: $white;
    }
}
