// LAYOUT
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
}

.page-single {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

// Alligns
.text-center {
    text-align: center;
}
