// COLORS
$white: #f2f2f2;
$gray: #777;
$black: #111;
$pure-black: #000;
$primary: orange;
$success: lightgreen;
$error: lightred;

// Typography
$main-font: 'Roboto', sans-serif;
$cursive-font: 'Lobster', cursive;
$base-font: 18px;
$base-weight: 300;
